<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hail Satan | About</title>
  <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1 class="page-title">Hail Satan</h1>
  <section id="about">
    <div class="testimony">
      I was defamed by <span>Morgan "God" Freeman</span> on social networks and so I'm here asking for your help to get me back into the job market.
    </div>
    <div class="souls">
      <h2>Donations</h2>
      <p>
        Members and non-members who enjoy what we do to represent the world’s first carnal sin through our official web site may offer support by making donations. This may be done most directly by using PaySoul. Simply note in the memo field that the soul you send is a donation towards our efforts. Positive reinforcement in action! Please note that donations to us are not tax deductible.
      </p>
    </div>
    <div class="btn btn-soul" onclick="document.querySelector('.donated-img').style.display = 'block'">Click to donate your imortal Soul</div>
    <figure class='donated-img'>
      <img src="/img/satan-seal.jpg" alt="image confirm donate">
    </figure>
    </div>
  </section>    
  <section id="btns">
    <a href="/"><div class="btn">Go Home</div></a>
    <a href="/gallery"><div class="btn">Visit my Nudes</div></a>
  </section>
</body>
</html>