<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hail Satan | About</title>
  <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1 class="page-title">Hail Satan</h1>
  <section id="gallery">
    <figure>
      <img src="/img/30896-7-satan-transparent-background.jpg" alt="">
    </figure>
    <figure>
      <img src="/img/satan-flames.jpg" alt="">
    </figure>
    <figure>
      <img src="/img/satan-goat.jpg" alt="">
    </figure>
    <figure>
      <img src="/img/satan-shame.jpg" alt="">
    </figure>
  </section>    
  <section id="btns">
    <a href="/"><div class="btn">Go Home</div></a>
    <a href="/about"><div class="btn">About me, super sexy</div></a>
  </section>
</body>
</html>