<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hail Satan</title>
  <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1 class="page-title">Hail Satan</h1>
  <section id="rules">
      <ol>
          <li>Do not give opinions or advice unless you are asked.</li>
          <li>Do not tell your troubles to others unless you are sure they want to hear them.</li>
          <li>When in another’s lair, show him respect or else do not go there.</li>
          <li>If a guest in your lair annoys you, treat him cruelly and without mercy.</li>
          <li>Do not make sexual advances unless you are given the mating signal.</li>
          <li>Do not take that which does not belong to you unless it is a burden to the other person and he cries out to be relieved.</li>
          <li>Acknowledge the power of magic if you have employed it successfully to obtain your desires. If you deny the power of magic after having called upon it with success, you will lose all you have obtained.</li>
          <li>Do not complain about anything to which you need not subject yourself.</li>
          <li>Do not harm little children.</li>
          <li>Do not kill non-human animals unless you are attacked or for your food.</li>
          <li>When walking in open territory, bother no one. If someone bothers you, ask him to stop. If he does not stop, destroy him.</li>
        </ol>
      </section>
      
      <section id="btns">
        <a href="/about"><div class="btn btn-about">About me, super sexy</div></a>
        <a href="/gallery"><div class="btn btn-gallery">Visit my Nudes</div></a>
      </section>
</body>
</html>