<section id="section-form">
  <form class="form-artist" action="/artists" method="post">
    <input type="text" name="artist" placeholder="Ex: The Beatles">
    <button class='form-btn' type="submit">Search for an Artist</button>
  </form>
</section>